body {
    min-height: 2000px;
    padding-top: 70px;
    font:normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

/*-----Navigation----*/
.j-nav-variant-standard ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.j-nav-variant-standard ul li {
    font-size: 16px;
    line-height: 40px;
    display: inline-block;
    margin-right: -4px;
}

.j-nav-variant-standard ul li a {
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    vertical-align: middle;
    text-decoration: none;
    color: coral;
    display: block;
    transition: .3s background-color;
}

.j-nav-variant-standard ul li a:hover {
    background-color: #005f5f;
}

.j-nav-variant-standard a.active {
    background-color: #ffffff;
    color: #4f4f4f;
    cursor: default;
}