body {
    min-height: 2000px;
    padding-top: 70px;
    font:normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

/*-----Navigation----*/
.j-nav-variant-standard {
    background: #ffffff;
    width: auto;
}
.j-nav-variant-standard ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: block;
    zoom: 1;
}
/*.j-nav-variant-standard ul:after {*/
    /*content: " ";*/
    /*display: block;*/
    /*font-size: 0;*/
    /*height: 0;*/
    /*clear: both;*/
    /*visibility: hidden;*/
/*}*/
.j-nav-variant-standard ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.j-nav-variant-standard.align-right ul li {
    float: right;
}
.j-nav-variant-standard.align-center ul {
    text-align: center;
}
.j-nav-variant-standard ul li a {
    color: #f47e60;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    /*-webkit-transition: color .25s;*/
    /*-moz-transition: color .25s;*/
    /*-ms-transition: color .25s;*/
    /*-o-transition: color .25s;*/
    /*transition: color .25s;*/
}
.j-nav-variant-standard ul li a:hover {
    color: #F8B26A;
}
.j-nav-variant-standard ul li a:hover:before {
    width: 100%;
}
/*.j-nav-variant-standard ul li a:after {*/
    /*content: "";*/
    /*display: block;*/
    /*position: absolute;*/
    /*right: -3px;*/
    /*top: 19px;*/
    /*height: 6px;*/
    /*width: 6px;*/
    /*background: #f47e60;*/
    /*opacity: .5;*/
/*}*/
.j-nav-variant-standard ul li a:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #F8B26A;
    -webkit-transition: width .25s;
    -moz-transition: width .25s;
    -ms-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
}
.j-nav-variant-standard ul li.last > a:after,
.j-nav-variant-standard ul li:last-child > a:after {
    display: none;
}
.j-nav-variant-standard ul li.active a {
    color: #F8B26A;
}
.j-nav-variant-standard ul li.active a:before {
    width: 100%;
}
.j-nav-variant-standard.align-right li.last > a:after,
.j-nav-variant-standard.align-right li:last-child > a:after {
    display: block;
}
.j-nav-variant-standard.align-right li:first-child a:after {
    display: none;
}
/*@media screen and (max-width: 768px) {*/
    /*.j-nav-variant-standard ul li {*/
        /*float: none;*/
        /*display: block;*/
    /*}*/
/*}*/