#ext_menu-14 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-14.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#msg-box5-42 .mbr-header__text {
  color: #aabfae;
}
#msg-box5-42 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-42 .mbr-article {
  color: #ffffff;
}
#msg-box5-42 .mbr-article P {
  font-size: 14px;
  color: #f8af8f;
}
#msg-box4-26 .mbr-header__text {
  color: #f8af8f;
}
#msg-box4-26 .mbr-header__subtext {
  color: #ffbb98;
}
#msg-box4-26 .mbr-article {
  color: #ffffff;
}
#msg-box4-26 .mbr-article P {
  color: #aabfae;
  text-align: left;
}
#msg-box4-26 .mbr-article H3 {
  color: #6c9f8a;
}
#msg-box4-26 .mbr-article UL {
  color: #aabfae;
  font-size: 19px;
  text-align: left;
}
#msg-box4-30 .mbr-header__text {
  color: #f8af8f;
}
#msg-box4-30 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-30 .mbr-article {
  color: #ffffff;
}
#msg-box4-30 .mbr-article P {
  color: #aabfae;
}
#msg-box4-30 .mbr-article UL {
  color: #aabfae;
}
#content5-12 .mbr-header .mbr-header__text {
  text-align: center;
  color: #f8af8f;
}
#content5-12 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-12 .mbr-article {
  color: #fff;
}
#content5-12 .mbr-article P {
  color: #f8af8f;
  text-align: left;
}
#content4-14 .mbr-section__col .mbr-header__text {
  color: #f8af8f;
}
#content4-14 P {
  color: #aabfae;
}
#form1-20 .mbr-header__text {
  color: #ffffff;
}
#form1-15 .mbr-header__text {
  color: #aabfae;
}
#contacts1-17 STRONG {
  color: #ffffff;
  text-align: right;
}
#contacts1-17 P {
  color: #ffffff;
}
